/* CSS for every webpage of tzp*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}/*To avoid the browser's default padding and margin creating spaces around elements and allow the properties to cover the page to its fullest*/

body{
    font-family: "Merriweather", serif;
    background-color: #F9F9F9;
}/*Set the font family and default background colour of the webpage*/

header{
    padding-top: 30px;
    background: #F9F9F9;
}/*The headers padding and background colour, applies to all webpage with the header*/

#titlenlogo{
    display: block;
    margin:0 auto;
    text-align:center;
    margin-top: 30px;
    width: 250px;
    height: 110px;
}/*Resizing and styling the title and logo img so that it stays on the center and doesnt stand out fron other elements*/

/*Navigation bar*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 17px;
    margin-top: 40px; /*Margin from the logo and title*/
}

nav a {
    display: inline-block; /*allows the values to be next to each other*/
    padding-left: 40px;
    padding-right: 40px;
    color: #717171;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s; /*transition for smoother experience*/
}

nav a:hover{
    color: #0C4D4E;
}/*The link changes colour on hover with a duration of 0.6s*/

.active{
    color: #0C4D4E;
}/*When the user is on a specific webpage the navigation will turn into the specified colour*/

nav li {
    display: inline; /*allows the list to be horizontal*/
}

#button2{
    background: #F9F9F9;
    color: #717171;
    transition: 0.6s;
    padding: 20px;
    text-decoration: none;
}/*Button 2 is on the index page just below our works, I specifically made this colour white to contrast the blue to green background*/

#button2:hover{
    color: #0C4D4E; /*colour of the text remains when hovered*/
    opacity: 0.7; /*When button is hovered the opacity of the colour is lower*/
}

.button1{
    background: linear-gradient(#0C4D4E,#336850);
    color: #ffffff;
    transition: 0.6s;
    padding: 20px;
}

.buttonactive{
    text-decoration: underline;
    background: linear-gradient(#0C4D4E,#336850);
    color: #ffffff;
    transition: 0.6s;
    padding: 20px;
}/*This is for the button on the nevigation bar when the user is on the contacts page*/


.button1:hover{
    color: #ffffff; /*colour of the text remains when hovered*/
    opacity: 0.7; /*When button is hovered the opacity of the colour is lower*/
}

/*Hero image*/

.hero-image{
    background-image: url("images/nebula.png"); /*access the image for the hero page*/
    height: 600px;
    width: 100%; /*the image covers its entire horizontal area*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*To position the hero image as intended on different screens and not to widen the image*/
    position: relative; /*will adjust itself to its relative position*/
}

.hero-text{
    color: #ffffff;
    background-color: rgba(12, 77, 78, 0.5);
    position:absolute;
    padding-top:210px;
    padding-bottom: 210px;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 45px;
    animation:example2 3s;
    animation-fill-mode: forwards;
}
    @keyframes example2{
        from{
            left: 0px;
        }

        to{
            left: 90px;
        }
}/*This applies for every page with the hero-text class*/
/*The banner has the animation where it moves from 0px to 90px forwards from the left when entering a webpage with hero*/

.hero-title{
    text-align: center;
    color: #717171;
    font-size: 15px;
    padding-top: 8px;
}/*For the hero-title on every webpage that has the hero*/

#tzpbriefabout{
    padding: 50px 60px; 
    padding-top: 130px;
    width: 60%;
    margin-left: 10px;
    text-align: justify;
    line-height: 45px;
} /*Format the text to the left of image*/

.briefabout {
    display: flex;
    padding-left: 140px;
} /*Flex the contents in the container so they line in a row*/

#moonspin {
    margin-top: 90px;
    margin-left: 10px;
}

#moonspin{
    width: 400px;
    height: 380px;
    transition-duration: 5s; /*the image spins at a duration of 5 seconds*/
} 

#moonspin:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
} /*when hovered the image spins and when mouse leaves the image rotates back to its original position*/

h2{ 
    padding-bottom: 30px;
    font-size: 30px;
}

.con{
    margin-top: 40px;
}

.button{
    background: linear-gradient(#0C4D4E,#336850);
    color: #ffffff;
    transition: 0.6s;
    padding: 20px;
    text-decoration: none;
}

.button:hover{
    opacity: 0.5; /*When button is hovered the opacity of the colour is lower*/
    color: #ffffff; /*colour of the text remains when hovered*/
}

.focus{
    display: flex;
    justify-content: center; /*align content center horizontally*/
    padding-bottom: 50px;
    animation:example 4s infinite;
}

.offersnservices{
    font-size: 20px;
    color: #717171;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.tzpworks{
    background: linear-gradient(#336850,#0C4D4E);
    padding: 100px 210px; 
    /*first value applies to top & bottom, 2nd values applies to left and right*/
    color: #ffffff;
    display: flex;
}/*background colour is set to gradient, overall font color is white and padding set to align with the
    content above*/

.tzpworks p{
    color: #d4d4d4;
}/*Overall font colour of the paragraph is slightly darker to emphasize the heading*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d4d4d4;
    margin: 9px 0; 
} 
/*line to separate headings from date*/ 

#work1 img{
    width: 620px;
    height: 260px;
}

#work1{
    line-height: 40px;
    text-align: justify;
}

#work1 h3{
    font-size: 30px;
}

#workaside{ 
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: justify;
    font-size: 15px;
} /*overall margin and text for work2 and 3*/

#work2{
    display: flex;
}/*flex contents in work2*/

#work3{
    padding-top: 30px;
    display: flex;
} /*work3 spacing from work2 with the padding and flex contents in work3*/

#work3 div, #work2 div{
    margin-right: 20px;
}/*work2 and work3 margin from the image*/

#work3 img, #work2 img{
    width: 200px;
    height: 100px;
}

#orglogos{
    display: flex;
    justify-content: center; /*align content center horizontally*/
    padding-top: 10px;
}

#organisations{
    text-align: center;
    padding: 70px;
}

#orglogos img{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin: 30px;
    box-shadow: 0 0 7px 1px #dcdcdc;
}

footer{
    padding: 40px 90px;
    background: linear-gradient(#336850,#0C4D4E);
    color: #d4d4d4;
    font-size: 15px;
    line-height: 30px;
    text-align: center
}

.footercolumn{
    display: flex;
    text-align: left;
}

.footerlogo{
    width: 100px;
    height: 100px;
    margin-left: 730px;
    margin-top: 20px;
}/*Move the image to the very right of the container*/

@media screen and (max-width: 1000px){
    .footerlogo{ 
       margin: 0;
    }
}

/*Contact Us page*/

.contacthero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/laboratory.jpg"); /*access the image for the hero page*/
    height: 700px;
    width: 100%; /*the image covers its entire horizontal area*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*To position the hero image as intended on different screens and not to widen the image*/
    position: relative; /*will adjust itself to its relative position*/
}/*Contacts page has their specific hero image*/

.contactinfo{
    text-align: center;
    color: #F9F9F9;
    padding: 40px 5px 5px;
    display: grid;
    margin: 0px 300px;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 1000px){
    .contactinfo{
        display: inline;
    }
} /*Contact information will stay in one coloumn rather than two coloumns*/

.row4contacts {
    padding: 10px 0;
}

.row4contacts input[type="text"], select{
    border-color: #f9f9f9;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px 0px;
    width: 400px;
    height: 40px;
}/*To style the text inputs and select*/

#inquiry{
    margin-top: 20px;
    padding-top: 10px;
    min-width: 400px;
    max-width: 600px;
    max-height: 200px;
    min-height: 100px;
    border-radius: 10px 0px;
    text-align: center;
}/*Style the readjustable text area*/

.row4message{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.submitbutton{
    padding: 10px 30px;
    margin: 20px;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(#0C4D4E, #336850);
    color: #F9F9F9;
}

.submitbutton:hover{
    background: linear-gradient(#336850,#0C4D4E);
}

/*Meet Our Heads page*/

.webpagetitle{
    text-align: center;
    font-size: 30px;
    padding: 30px 0px;
    background: linear-gradient(rgba(12, 77, 78, 1),rgba(51, 104, 80, 1));
    color: #f9f9f9;
}

.heads{
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    flex-wrap: wrap;         
    padding: 20px;
}/*Display all contents to align horizontally*/

.headoftzp{
    width: 300px;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 40px 30px; 
    border-radius: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 5px #dcdcdc;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #717171;
    cursor: pointer;
}/*Style the background, the border, the box shadows, the paragraph colour and line height for letters to appear less crowded*/

.drimg{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.headname{
    font-weight: 700;
    line-height: 45px;
    color: #000;
}

.headoftzp{
    position: relative;
    top: 0; 
    transition:top ease 0.7s; /*Transition duration*/
}

.headoftzp:hover{
    top: -20px; /*How far up the content goes*/
    box-shadow: 0px 5px 8px #dcdcdc;
}/*When mouse is hovered over, these profiles stand up with a greater shadow to emphasise who the user is looking at*/

/*About webpage*/

.visionnmission{
    margin: 1px 250px;
    padding-top: 60px;
}

.visionnmission h2{
   text-align: center;
}

.descnimage{
    display: flex;
    padding-top: 10px;
    text-align: justify;
    line-height: 40px;
}

.descnimage p{
    font-size: 15px;
}

.descnimage img{
  width: 400px;
  height: 200px;
  margin-left: 70px;
}

.compimgndesc img{
    width: 400px;
    height: 200px;
    margin-left: 0;
    filter: grayscale(50%);
}

.ourcompanynsafety h3{
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.ourcompanynsafety{
    padding: 0px 210px;
    padding-bottom: 90px;
    display: flex;
    flex-direction:row;
} 

.ourcompanynsafety p{
   line-height: 30px;
   text-align: justify;
   padding-top: 20px;
   font-size: 15px;
}

.compimgndesc{
    margin-right: 140px;
    padding: 0 40px;
}

/*Our work webpage*/

#work-hero{
    background-image: url("images/iss071e662633.jpg"); /*access the image for the hero page*/
    height: 630px;
    width: 100%; /*the image covers its entire horizontal area*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*To position the hero image as intended on different screens and not to widen the image*/
    position: relative; /*will adjust itself to its relative position*/
}/*The works page also has its own hero image with the similar properties as the homepage*/

.allworks{
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    flex-wrap: wrap;         
    padding: 50px 10px;
/*Display all contents to align horizontally*/
}

.datenarrow{
    display: flex;
}

.work-green{
    width: 300px;
    height: 510px;
    background: linear-gradient(#336850,#0C4D4E);
    color: #f9f9f9;
    padding: 10px 10px;
    margin: 20px 90px;
    border-radius: 20px 0;
    box-shadow: 0px 3px 5px #dcdcdc;
    position: relative;
    top: 0; 
    transition:top ease 0.7s; /*Transition duration*/
    cursor: pointer;
}

.work-green:hover{
    top: -20px; /*How far up the content goes*/
    box-shadow: 0px 5px 8px #dcdcdc;
}/*When mouse is hovered over, these profiles stand up with a greater shadow to emphasise who the user is looking at*/

.work-green img{
    width: 280px;
    height: 210px;
    display: block;
    margin: auto;
    border-radius: 20px 0;
    padding: 5px 0;
}

.work-white img{
    width: 280px;
    height: 210px;
    display: block;
    margin: auto;
    border-radius: 20px 0;
    padding: 5px 0;
}

.work-white{
    width: 300px;
    height: 510px;
    background: #f9f9f9;
    padding: 10px 10px;
    border-radius: 20px 0;
    box-shadow: 0px 3px 5px #dcdcdc;
    position: relative;
    top: 0; 
    transition:top ease 0.7s; /*Transition duration*/
    cursor: pointer;
}

.work-white:hover{
    top: -20px; /*How far up the content goes*/
    box-shadow: 0px 5px 8px #dcdcdc;
}/*When mouse is hovered over, these profiles stand up with a greater shadow to emphasise who the user is looking at*/

.work-white p{
    font-size: 15px;
}

.work-green p{
    font-size: 15px;
}

.datenarrow img{
    width: 50px;
    height: 55px;
    border-radius: 100px;
    margin-left: 10px;
}

.workstation{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    text-align: justify;
    line-height: 40px;
    font-size: 15px;
}

.workstation img{
    width: 400px;
    height: 200px;
    margin-left: 50px;
}

.operation{
    padding: 0 300px;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

.whatwedo h2{
    text-align: center;
}

/*Get involved webpage*/

#involve-hero{
    background-image: url("images/creationofadam.jpg"); /*access the image for the hero page*/
    height: 630px;
    width: 100%; /*the image covers its entire horizontal area*/ 
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover; /*To position the hero image as intended on different screens and not to widen the image*/
    position: relative; /*will adjust itself to its relative position*/
}/*Involve page has similar hero properties however has a different image*/

.volunteer{
    padding: 50px 0;
}

.volunteer-categories{
    padding: 20px 220px;
}/*The whole area padding from top and bottom to left and right*/

.volunteer-categories h4{
    padding-top: 40px;
}

.community{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    line-height: 40px;
    font-size: 15px;
} 

.community img{ 
    width: 400px;
    height: 200px;
    margin-left: 40px;
} /*Resize the image to align with the text and margin-left to add space between the image and the text description*/

#howtogetinvolved{
    padding: 30px 0;
    background: linear-gradient(#336850,#0C4D4E);
    text-align: center;
    color: #f9f9f9;
    font-size: 20px;
}/*To emphasise the text written*/
